<section class="content-area">
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consectetur cupiditate, nobis ipsa consequatur officia impedit quia! Consequatur, natus recusandae ad inventore, possimus et cupiditate fugiat laborum, accusantium dolor sequi
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consectetur cupiditate, nobis ipsa consequatur officia impedit quia! Consequatur, natus recusandae ad inventore, possimus et cupiditate fugiat laborum, accusantium dolor sequi
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consectetur cupiditate, nobis ipsa consequatur officia impedit quia! Consequatur, natus recusandae ad inventore, possimus et cupiditate fugiat laborum, accusantium dolor sequi
    </p>
  </article>
</section>
